@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-size: 12px; }

a {
  text-decoration: none; }

.l {
  float: left; }

.r {
  float: right; }

li {
  list-style: none; }

header {
  height: 40px;
  background: #ccc;
  width: 100%;
  padding: 10px 10%; }
  header li {
    float: left; }
  header a {
    padding: 0 10px;
    color: black; }
  header .list {
    position: relative; }
  header .list section {
    position: absolute;
    z-index: 100;
    display: none;
    left: 50px;
    top: 30px;
    width: 400px;
    height: 200px;
    background-color: orange; }
    header .list section span {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer; }

#banner {
  width: 100%;
  height: 420px;
  background: url(https://p.ssl.qhmsg.com/t01cec7a33e5679bd60.jpg) center no-repeat; }

#type {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-around; }
  #type dl {
    float: left;
    width: 100px;
    margin: 0 40px; }
    #type dl:hover {
      color: #20AAED; }
  #type dt {
    width: 100px;
    height: 100px; }
  #type dd {
    text-align: center; }

nav {
  width: 100%;
  height: 180px;
  background-color: #ccc;
  clear: both;
  margin-bottom: 30px; }
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    nav ul li {
      width: 260px;
      height: 40px;
      background-color: #fff;
      line-height: 40px;
      border-radius: 10px;
      margin-top: 30px;
      text-align: center; }
      nav ul li:hover {
        border: 1px solid #20AAED; }

section {
  width: 88%;
  margin: 0px auto; }
  section #maintain {
    width: 70%; }
    section #maintain #pro, section #maintain #county {
      width: 180px;
      line-height: 35px;
      border: 1px solid green;
      float: left;
      margin-right: 10px;
      text-indent: 16px;
      margin-bottom: 20px; }
    section #maintain form {
      line-height: 35px;
      float: left; }
      section #maintain form input {
        width: 350px;
        height: auto;
        background-color: transparent;
        outline: none; }
      section #maintain form button {
        width: 100px;
        height: auto;
        background-color: green;
        color: #fff; }
    section #maintain #option {
      clear: both;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      border: 1px solid #ccc;
      text-align: center;
      background: #ccc; }
      section #maintain #option li {
        float: left;
        width: 100px;
        height: auto;
        background-color: #ccc;
        line-height: 50px; }
        section #maintain #option li a:hover {
          text-decoration: none; }
      section #maintain #option #ditu {
        line-height: 30px;
        margin-top: 10px;
        border: 1px solid #eee;
        margin-right: 30px;
        width: 120px;
        cursor: pointer; }
    section #maintain .bottom {
      clear: both; }
      section #maintain .bottom dl {
        width: 100%;
        height: 170px;
        font-size: 12px;
        position: relative;
        padding-top: 20px;
        margin-bottom: 0px;
        border-bottom: 1px solid; }
        section #maintain .bottom dl:hover {
          background: #ccc; }
      section #maintain .bottom dt {
        float: left;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 20px; }
        section #maintain .bottom dt img {
          width: 100px;
          height: 100px; }
      section #maintain .bottom dd {
        padding-top: 20px;
        float: left;
        width: 500px;
        line-height: 35px; }
        section #maintain .bottom dd span {
          float: right;
          text-indent: 20px; }
        section #maintain .bottom dd .span1 {
          background: url(../images/电脑维修/t01dddbd1775cf1d1d7.png) no-repeat 0px center; }
        section #maintain .bottom dd .span2 {
          background: url(../images/电脑维修/t0141b1afb0bd0d7e2e.png) no-repeat 0px center; }
  section .shangpu {
    width: 120px;
    line-height: 50px;
    color: green;
    text-align: center;
    border: 1px solid green;
    position: absolute;
    right: 20px;
    top: 60px;
    display: none; }
  section .right {
    float: right;
    width: 26%;
    margin-top: 60px;
    border: 1px solid #ccc; }
    section .right h3 {
      background: #ccc;
      line-height: 45px;
      margin-top: 0; }
    section .right .right_good {
      height: 120px;
      padding: 25px 20px;
      border-bottom: 1px solid #eee; }
      section .right .right_good .shuzi {
        width: 30px;
        border-radius: 50%;
        border: 1px solid;
        line-height: 30px;
        text-align: center;
        margin-top: 20px; }
      section .right .right_good .red {
        border: 1px solid red; }
      section .right .right_good img {
        width: 70px;
        height: 70px;
        margin: 0 10px; }

.page {
  clear: both;
  width: 88%;
  margin: 20px auto;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 50px; }
  .page span {
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px; }
  .page #next {
    width: 100px; }

footer {
  width: 100%;
  background: #ccc;
  clear: both;
  height: 300px;
  padding: 20px;
  text-align: center; }
  footer #foot {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    margin-bottom: 50px; }
    footer #foot div {
      float: left;
      margin-right: 50px;
      text-indent: 50px; }
    footer #foot h4 {
      line-height: 44px;
      font-size: 25px; }
    footer #foot .one h4 {
      background: url(../images/电脑维修/t01f943ad69c4601e97.gif) no-repeat 0 0; }
    footer #foot .two h4 {
      background: url(../images/电脑维修/t01f943ad69c4601e97.gif) no-repeat 0 -44px; }
    footer #foot .three h4 {
      background: url(../images/电脑维修/t01f943ad69c4601e97.gif) no-repeat 0 -88px; }
    footer #foot .four h4 {
      background: url(../images/电脑维修/t01f943ad69c4601e97.gif) no-repeat 0 -132px; }
    footer #foot .five h4 {
      background: url(../images/电脑维修/t01f943ad69c4601e97.gif) no-repeat 0 -176px; }
  footer #end {
    clear: both; }

#meng {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 3000; }
  #meng #map {
    width: 900px;
    height: 550px;
    background: #fff;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
    #meng #map h3 {
      line-height: 30px;
      padding: 0 20px; }
      #meng #map h3 span {
        float: right;
        font-size: 20px; }
    #meng #map #container {
      width: 900px;
      height: 360px; }
    #meng #map .page {
      padding-left: 0; }

.info-title {
  line-height: 30px;
  background: #ccc;
  font-size: 20px;
  color: red; }

.info-main, .info-addr {
  width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

a:hover {
  text-decoration: none; }
