@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font: 14px "微软雅黑"; }

a {
  text-decoration: none;
  color: black; }

ul, dl, dl, li {
  list-style: none; }

.l {
  float: left; }

.r {
  float: right; }

.clear:after {
  content: ".";
  clear: both;
  visibility: hidden;
  height: 0;
  display: block; }

header {
  width: 100%;
  height: 33px;
  background-color: #eee; }

header ul {
  height: 33px; }

.header-wrap {
  margin: 0 auto;
  width: 1200px;
  height: 33px;
  background-color: transparent;
  line-height: 33px; }

header li {
  float: left; }

header a {
  display: inline-block;
  padding: 0 10px 0 10px; }

.cutCity {
  cursor: pointer;
  position: relative; }
  .cutCity div {
    width: 460px;
    height: 220px;
    background-color: #ddd;
    position: absolute;
    bottom: -210px;
    right: -390px;
    z-index: 200;
    display: none; }
    .cutCity div .btn {
      width: 50px;
      height: 20px;
      background-color: gray;
      position: absolute;
      top: 5px;
      right: 5px;
      color: white; }

nav {
  margin: 10px auto;
  width: 1200px; }

nav li {
  float: left;
  height: 73px;
  line-height: 73px;
  position: relative; }

nav li a {
  padding: 5px 20px 5px 20px; }
  nav li a:hover {
    background-color: silver; }

nav li img {
  position: absolute;
  top: 10px;
  right: 0px; }

.swiper-container {
  margin: 0 auto;
  width: 1200px;
  height: 400px;
  background-color: #eee;
  position: relative; }
  .swiper-container .ban {
    position: absolute;
    left: 235px;
    top: 0;
    z-index: 900;
    display: none;
    border: 1px solid gray;
    font: bold 12px/48px "微软雅黑";
    width: 700px;
    height: 400px;
    background-color: #ccc; }
    .swiper-container .ban p {
      text-indent: 3em; }
    .swiper-container .ban span {
      display: inline-block;
      width: 118px;
      height: 42px;
      background-color: transparent;
      text-align: center;
      line-height: 42px;
      border: 1px solid gray;
      margin: 5px 20px 5px 25px; }

.swiper-slide {
  width: 1200px;
  height: 400px;
  background-color: #eee;
  overflow: hidden; }

.swiper-slide img {
  width: 100%;
  height: 100%;
  background-color: transparent; }

.swiper-pagination span {
  width: 15px;
  height: 15px; }

.banner-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  box-sizing: border-box; }
  .banner-left .sanJiao {
    display: none;
    transition: 1s;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    border-color: transparent  gold transparent transparent;
    border-width: 14px;
    border-style: solid; }

.banner-left p {
  height: 100px;
  color: white;
  font: bold 16px/100px "微软雅黑";
  text-indent: 90px;
  border-bottom: 1px silver solid; }

.p1 {
  background: url(../images/首页/t01280de86e9d9dc470.png) no-repeat 0 0; }
  .p1:hover {
    background-color: green; }

.p2 {
  background: url(../images/首页/t01280de86e9d9dc470.png) no-repeat 0 -100px; }
  .p2:hover {
    background-color: green; }

.p3 {
  background: url(../images/首页/t01280de86e9d9dc470.png) no-repeat 0 -200px; }
  .p3:hover {
    background-color: green; }

.p4 {
  background: url(../images/首页/t01280de86e9d9dc470.png) no-repeat 0 -300px; }
  .p4:hover {
    background-color: green; }

main {
  width: 100%;
  height: auto;
  background-color: #eee; }

main h3 {
  margin: 20px auto 10px;
  width: 1200px; }

main h3 a {
  float: right;
  font: bold 16px "幼圆"; }

.main-one {
  margin: 0 auto;
  width: 1200px;
  height: 166px;
  background-color: transparent;
  display: flex;
  justify-content: space-around; }

.main-two {
  margin: 0 auto;
  width: 1200px;
  height: 300px;
  background-color: white;
  position: relative; }

.main-two-right {
  width: 1000px;
  display: flex;
  justify-content: space-around; }

.main-two-right dl {
  padding-top: 10px; }

.main-two-right dd {
  text-align: center; }

.dd1 {
  color: red; }

.main-wrap {
  width: 100%; }

.main {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  background-color: transparent; }
  .main .city, .main .country {
    width: 142px;
    height: 42px;
    background-color: transparent;
    border: 1px solid green;
    text-indent: 20px;
    line-height: 42px;
    margin-right: 10px; }
  .main input[type="text"] {
    width: 468px;
    height: 42px;
    background-color: transparent;
    border: 1px solid green;
    float: left;
    outline: none; }
  .main input[type="submit"] {
    width: 120px;
    height: 42px;
    background-color: green;
    color: white;
    font: bold 20px "微软雅黑";
    float: left;
    outline: none; }
  .main .main-middle-left {
    margin-top: 10px;
    width: 890px;
    height: 44px;
    background-color: transparent; }
    .main .main-middle-left p {
      width: 890px;
      height: 44px;
      background-color: transparent;
      line-height: 44px;
      background-color: #eee;
      margin-bottom: 10px; }
      .main .main-middle-left p a {
        display: inline-block;
        text-align: center;
        width: 120px;
        height: 42px;
        box-sizing: border-box; }
        .main .main-middle-left p a:hover {
          border: 1px solid gray;
          background-color: white; }
    .main .main-middle-left dl {
      width: 100%;
      font-size: 12px;
      padding: 20px 0 20px 0;
      border-bottom: 1px solid gray;
      position: relative; }
      .main .main-middle-left dl .comeIn {
        cursor: pointer;
        width: 142px;
        height: 42px;
        border: 1px solid gray;
        text-align: center;
        line-height: 42px;
        position: absolute;
        top: 50px;
        right: 10px;
        display: none; }
      .main .main-middle-left dl:hover {
        background-color: #eee; }
    .main .main-middle-left dt, .main .main-middle-left dd {
      float: left;
      margin-right: 20px; }
    .main .main-middle-left dt img {
      width: 90px;
      height: 90px; }
    .main .main-middle-left dd {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 600px;
      line-height: 32px; }
      .main .main-middle-left dd span {
        float: right; }
  .main .main-middle-right {
    margin-top: 10px;
    border: 1px solid gray;
    width: 268px;
    height: auto;
    background-color: transparent; }
    .main .main-middle-right h2 {
      background-color: #eee;
      text-align: center;
      border-bottom: 1px solid gray;
      font: normal 20px/44px "微软雅黑"; }
    .main .main-middle-right dl {
      padding: 20px 0 0 10px;
      border-bottom: 1px solid gray;
      width: 258px;
      height: 80px;
      background-color: transparent; }
      .main .main-middle-right dl dt, .main .main-middle-right dl dd {
        float: left;
        margin-right: 10px; }
      .main .main-middle-right dl dt {
        text-align: center; }
        .main .main-middle-right dl dt span {
          display: inline-block;
          margin-top: 20px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          border-radius: 50%;
          border: 1px solid gray; }
      .main .main-middle-right dl dd img {
        width: 50px;
        height: 50px; }
  .main .main-bottom {
    clear: both; }
    .main .main-bottom span {
      cursor: pointer;
      display: inline-block;
      width: 44px;
      height: 44px;
      border: 1px solid gray;
      text-align: center;
      line-height: 44px; }

.map-Btn {
  cursor: pointer; }

.map-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: none; }
  .map-wrap .map-middle {
    width: 800px;
    height: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid gray; }
    .map-wrap .map-middle h3 {
      text-indent: 2em;
      color: gray;
      background-color: #eee;
      line-height: 30px; }
      .map-wrap .map-middle h3 span {
        cursor: pointer;
        float: right;
        margin-right: 20px; }
    .map-wrap .map-middle #map {
      width: 800px;
      height: 540px;
      position: absolute;
      left: 0;
      bottom: 30px; }
    .map-wrap .map-middle p {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: white; }
      .map-wrap .map-middle p span {
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid gray;
        text-align: center;
        line-height: 30px;
        box-sizing: border-box; }
    .map-wrap .map-middle .amap-info-content {
      font: 12px "微软雅黑";
      background: #fff;
      border: 1px solid #ccc;
      padding: 10px 18px 10px 10px;
      line-height: 2.4;
      overflow: auto; }
      .map-wrap .map-middle .amap-info-content .info-main {
        box-sizing: border-box;
        padding-left: 1em; }
      .map-wrap .map-middle .amap-info-content .info-img {
        width: 40px;
        height: 40px; }
    .map-wrap .map-middle .amap-info-sharp {
      z-index: 5000;
      height: 23px;
      margin: 0 auto;
      overflow: hidden;
      top: 0px;
      width: 30px;
      background-image: url(./sharp.png); }

footer {
  margin-top: 80px;
  width: 100%;
  height: 290px;
  background-color: #eee; }
  footer .footer-top {
    margin: 0 auto 20px;
    padding-bottom: 10px;
    width: 980px;
    height: 155px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid silver; }
    footer .footer-top ul {
      margin-top: 20px;
      text-indent: 43px; }
      footer .footer-top ul h3 {
        line-height: 44px; }
      footer .footer-top ul .h-one {
        background: url(../images/首页/t01f943ad69c4601e97.gif) no-repeat 0 0; }
      footer .footer-top ul .h-two {
        background: url(../images/首页/t01f943ad69c4601e97.gif) no-repeat 0 -44px; }
      footer .footer-top ul .h-three {
        background: url(../images/首页/t01f943ad69c4601e97.gif) no-repeat 0 -88px; }
      footer .footer-top ul .h-four {
        background: url(../images/首页/t01f943ad69c4601e97.gif) no-repeat 0 -132px; }
      footer .footer-top ul .h-five {
        background: url(../images/首页/t01f943ad69c4601e97.gif) no-repeat 0 -176px; }
      footer .footer-top ul a {
        display: block;
        line-height: 26px;
        font: 14px "微软雅黑";
        color: #aaa; }
        footer .footer-top ul a:hover {
          text-decoration: underline; }
  footer p {
    text-align: center;
    color: gray;
    font: 12px/30px "微软雅黑"; }
