*{
    margin:0;
    padding: 0;
}
a{text-decoration: none;}
ul,ol,li{
    list-style: none;
}
img{
    border: none;
}


//头部

header{
    width: 100%;height: 32px;background: #f6f6f6;
    .header-left{
       float: left;margin-left: 10%;line-height: 32px;
       span{
          margin-left: 20px;border-right: 1px solid #ccc;
          padding-right: 20px;font-size: 14px;color: #666;
          
       }
    }
    .header-right{
       float: right;margin-right: 10%;line-height: 32px;
       span{
          margin-left: 20px;border-right: 1px solid #ccc;
          padding-right: 20px;font-size: 14px;color: #666;
          
       }
    }
}
//轮播
.warp{
    width: 100%;
    swiper {
        display: inline-block;
        width: 100%;
        
        position: relative;
        .swiper-container {
            width: 100%;
           
        }
        .swiper-pagination-bullet {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 3px solid red;
        }
    }
}
 h2{
    display: inline-block;padding-left: 10px;border-left: 4px solid #118855;
   }
.p1{
   margin:0 auto;
   width:80%;margin-top: 5px;
   h2{
       display: inline-block;padding-left: 10px;border-left: 4px solid #118855;
   }
   p{
    width:420px;
     input{
         float: left;width:340px;height: 34px;border: 2px solid #118855;
         text-indent: 10px;
     }
     span{
        float:left;
         display: block;
         width: 76px;
         height: 37px;
         text-align: center;
         line-height: 38px;
         background: #118855;
         color: white;
     }
   }
   img{
    display:block;
      margin:0 auto;
      // margin-left:100px;
   }
   .lastspan{
       display: block;margin-left: 30%;width: 30%;height: 25px;
       background: white;color: #54c9ff;padding: 10px 20px;
       border: 1px solid #54c9ff;text-align: center;line-height: 35px;
   }
}
footer{
    width:100%;height:310px;border-top:1px solid #e5e5e5; background:#fafafa;
    overflow: hidden;
    .foot-top{
        width: 90%;margin-left: 5%;height:170px;border-bottom: 1px solid #eee;
        dl{
            width: 20%;margin-top: 20px;
            float: left;
            dt{
               float: left;
            }
           dd{
               a{
                   color: #888888;line-height: 30px;font-size: 13px;
                   &:hover{
                       border-bottom: 1px solid #888888;
                   }
               }
           }
        }
    }
    .foot-bottom{
        width:90%;margin: 0 auto;height: 133px;
        p{
            width:100%;text-align:center;line-height:35px;font-size:10px;
            color:#888888;
            a{
                padding:0 20px 0 20px;color:#888888;
            }
    
    
   
        }
    
     
    }
}




