*{
	margin:0;
	padding:0;
}
body{
	font:14px "微软雅黑";
}
a{
	text-decoration: none;
	color:black;
}
ul,dl,dl,li{
	list-style:none;
}
.l{
	float: left;
}
.r{
	float: right;
}
.clear:after{
	 content: ".";
	 clear:both;
	 visibility:hidden;
	 height:0;
	 display:block;
}
//混合宽高，背景色
@mixin baseStyle($w:auto,$h:auto,$bg:transparent){
	width:$w;
	height:$h;
	background-color:$bg;
}
// 头部样式
header{
	@include baseStyle($w:100%,$h:33px,$bg:#eee);
}
header ul{
	height:33px;
}
.header-wrap{
	margin:0 auto;
	@include baseStyle($w:1200px,$h:33px);
	line-height:33px;
}
header li{
	float:left;
	color:silver;
}
header a{
	display:inline-block;
	padding:0 10px 0 10px;
	color:black;
}
// 导航样式
nav{
	margin:10px auto;
	width:1200px;
	li{
		float:left;
		height:73px;
		line-height:73px;
		position:relative;
		a{
			padding:5px 20px 5px 20px;
			&:hover{
				background-color:silver;
			}
		}
		img{
			position:absolute;
			top:10px;
			right:0px;
		}
	}
	input[type="text"]{
		width:231px;
		height:40px;
		float:left;
		margin-top:15px;
	}
	input[type="button"]{
		width:40px;
		height:43px;
		background:green;
		color:white;
		border:0;
		float:left;
		margin-top:15px;
	}
}
// banner部分样式
.banner{
	clear:both;
	padding-top:5px;
	padding-bottom:15px;
	@include baseStyle($w:100%,$bg:#F5F5F5);
	.banner-list{
		margin:20px auto 20px;
		width:1200px;
		h3{
			text-indent:10px;
			border-left: 5px solid green;
			margin-bottom:10px;
			span{
				float:right;
				font-weight:normal;
				font-size:14px;
				color:green;
			}
		}
		img{
			width:1200px;
			height:327px;
		}
	}
}
// 页脚部分nav样式
.footer-nav{
	width:100%;
	ul{
		margin:22px auto 22px;
		width:1200px;
		height:119px;
		display:flex;
		justify-content:space-around;
		li{
			text-align:center;
			span{
				display:block;
				width:68px;
				height:68px;
				margin-left:26px;
			}	
			.span-icon1{
				background:url(../images/以旧换新/t012bbdb4c7d898e765.png) no-repeat 0 0;
			}
			.span-icon2{
				background:url(../images/以旧换新/t012bbdb4c7d898e765.png) no-repeat -70px 0;
			}
			.span-icon3{
				background:url(../images/以旧换新/t012bbdb4c7d898e765.png) no-repeat -140px 0;
			}
			.span-icon4{
				background:url(../images/以旧换新/t012bbdb4c7d898e765.png) no-repeat -210px 0;
			}
			p{
				color:silver;
			}
			img{
				height:119px;
			}
		}
	}
}
// 页脚部分
footer{
	@include baseStyle($w:100%,$h:120px,$bg:#44AA77);
	text-align:center;
	color:white;
	padding-top:35px;
	box-sizing:border-box;
	font:bold 16px/30px "微软雅黑";
}